<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBN5KRcbxIHotB2KRt00yy6AK0vJsERisk</string>
	<key>GCM_SENDER_ID</key>
	<string>964931824894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RnbetterSmash.app</string>
	<key>PROJECT_ID</key>
	<string>rnbettersmash</string>
	<key>STORAGE_BUCKET</key>
	<string>rnbettersmash.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964931824894:ios:40b6407fa44138e692c9af</string>
</dict>
</plist>